<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://nawallox.github.io/look-and-feel-styleguide/oncollaboration.css">   
    <link rel="stylesheet" href="../styles/webinars.css">
    <link rel="stylesheet" href="../styles/button.css">

    <title>Document</title>
</head>
<body>

    <!--Buttons with micro interactions-->

    <section class=" like button-container">
        <button class="like-button"> <img src="/assets/images/icons/heart.png" alt=""></button>
    </section>

    <section class="filter button-container">
        <button class="filter-button"> click me </button>
    </section>

    <section class="login button-container">
        <button class="login-button">click me</button>
    </section>

    <section class="other button-container">
        <button class="other-button">click me</button>
    </section>



</body>
</html>
