:root{

    /*base colors*/
    --dominant-darkgreen:#283618;
    --complementary-green:#606C38;
    --accent-cream:#FEFAE1;
    --accent-black:#000000;
    --accent-white:#fff;

    --complementary-green:#606C38;
    --complementary-brown:#DDA15E;
    --complementary-darkbrown:#BC6C25;
    --complementary-blue:#6A8EAE;
    --complementary-darkblue:#2B3A67;
    --complementary-red:#A61C3C;

    /*Typografie */
    /*fonts*/
    --fontheading1: 'halton';
    --fontheading2: 'halton-regular';
    --fontparagraph: 'halton-italic';
    /*font size*/
    --sizeheading1: 2em;
    --sizeheading2: 1.5em;
    --sizeparagraph:.5em;

    /*Radius*/
    --radius1: .25rem;
    --radiustextbox: 10px;


}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--complementary-darkblue);
    min-height: 100vh;
    overflow-x: hidden;

}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #F5B249;
    pointer-events: none;
}

.navbar {
    text-decoration: none;
    color: #F5B249;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navbar a:hover{
    background: #F5B249;
   color: #f9f9f9; 
   border-radius: 20px;
}

.front_head--parralax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, .2);
}

.front_head--parralax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec_sdg--norm{
    position: relative;
    background: #F5B249;
    padding: 100px;
}

.sec_sdg--norm h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec_sdg--norm p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
}

.sdg_grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #F5B249;
    }




#no_poverty {
     grid-area: 1 / 1 / 2 / 2; 
    }

#zero_hunger { 
    grid-area: 1 / 2 / 2 / 3; 
}

#good_health_and_wellbeing {
     grid-area: 1 / 3 / 2 / 4; 
    }

#quality_education {
     grid-area: 1 / 4 / 2 / 5; 
    }

#gender_equality {
     grid-area: 1 / 5 / 2 / 6; 
    }

#clean_water { 
    grid-area: 1 / 6 / 2 / 7; 
}

#affordable_and_clean_energy { 
    grid-area: 2 / 1 / 3 / 2; 
}

#decent_work_and_economic_growth {
     grid-area: 2 / 2 / 3 / 3;
     }

#Industry_innovation_infrastructure {
     grid-area: 2 / 3 / 3 / 4; 
    }

#reduced_inequalities {
     grid-area: 2 / 4 / 3 / 5; 
    }

#sustainable_cities {
     grid-area: 2 / 5 / 3 / 6; 
    }

#responsible_consumption_and_production {
     grid-area: 2 / 6 / 3 / 7;
     }

#climate_action {
     grid-area: 3 / 1 / 4 / 2; 
    }

#life_below_water { 
    grid-area: 3 / 2 / 4 / 3; 
}

#life_on_land { 
    grid-area: 3 / 3 / 4 / 4; 
}

#peace_and_justice {
     grid-area: 3 / 4 / 4 / 5; 
    }

#partnersgips_for_the_goals {
     grid-area: 3 / 5 / 4 / 6; 
    }